USE [master]
GO
/****** Object:  Database [registrar]    Script Date: 2/28/2017 4:40:30 PM ******/
CREATE DATABASE [registrar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'registrar', FILENAME = N'C:\Users\epicodus\registrar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'registrar_log', FILENAME = N'C:\Users\epicodus\registrar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [registrar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [registrar]
GO
USE [registrar]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 2/28/2017 4:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[number] [varchar](255) NULL,
	[department_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[departments]    Script Date: 2/28/2017 4:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pass_fail]    Script Date: 2/28/2017 4:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pass_fail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[department_id] [int] NULL,
	[course_id] [int] NULL,
	[pass] [tinyint] NULL,
	[complete] [tinyint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[students]    Script Date: 2/28/2017 4:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[registration_date] [varchar](255) NULL,
	[department_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[students_courses]    Script Date: 2/28/2017 4:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students_courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
